body{
  font-family: 'Lexend', sans-serif;
  font-family: 'Maven Pro', sans-serif;
  background: rgb(237,228,224);
  background: linear-gradient(90deg, rgba(237,228,224,1) 0%, rgba(200,219,190,1) 100%, rgba(159,135,114,1) 100%);
}
